.description {
  width: 80%;
  margin: 100px auto;
}

.two-columns {
  display: flex;
  justify-content: center;
  column-gap: 80px;
}

.two-columns-brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  min-width: 784px;
  width: 80%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.span-accent {
  font-weight: 600;
}
