.digits {
  margin: 100px auto;
}

.digits__title {
  margin-bottom: 20px;
}

.digits__subtitle {
  margin-bottom: 60px;
}

.table {
  width: 1100px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__heading_theme_dark {
  color: var(--color-gray);
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text_theme_dark {
  color: var(--color-gray);
}
