.feynman {
  position: relative;
  background-color: var(--color-gray);
  background-image: url(../../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 890px;
}

.feynman__title {
  margin: 0 auto 70px;
  padding-top: 100px;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
}

.feynman__subtitle,
.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
}
