.footer {
  background-color: var(--color-back);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: var(--color-gray);
  min-height: 350px;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  align-items: start;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  color: var(--color-gray);
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-links {
  text-align: start;
  margin-bottom: 16px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: var(--color-gray);
}

.footer__column-heading {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
