.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--color-gray);
  z-index: 1;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo {
  width: 228px;
  height: 32px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: var(--color-blue);
  z-index: -2;
}
