.kaufman {
  position: relative;
  background-color: var(--color-back);
  overflow: hidden;
  z-index: -2;
}

.kaufman__title {
  padding-top: 90px;
  margin-bottom: 20px;
}

.kaufman__subtitle {
  margin-bottom: 80px;
}

.kaufman__table {
  row-gap: 80px;
  margin-bottom: 90px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  aspect-ratio: 1;
  top: 0;
  right: -210px;
  z-index: -1;
}
