.khan {
  width: 80%;
  margin-inline: auto;
}

.khan__author {
  text-align: start;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
}

.khan__title {
  text-align: start;
  margin-inline: 0;
  margin-bottom: 50px;
}

.khan__quote {
  width: 790px;
  margin-bottom: 36px;
  text-align: start;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.khan__quote-author {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin-bottom: 68px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 48px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
}
