:root {
  --color-back: #1f1f1f;
  --color-gray: #f2f2f2;
  --color-blue: #2f80ed;
  --color-text: #000000;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--color-blue);
}

h2 {
  line-height: 96px;
  font-size: 102px;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

/* logo */

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--color-gray);
  position: relative;
  display: flex;
  align-items: center;
  z-index: -3;
}


.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}


.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
}


.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
  background-color: var(--color-blue);
}

.description {
  width: 80%;
  margin: 100px auto;
}

.two-columns {
  display: flex;
  justify-content: center;
  column-gap: 80px;
}

.two-columns-brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  min-width: 784px;
  width: 80%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  margin-inline: auto;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
}

.section-title_theme_dark {
  color: var(--color-gray);
}

.section-subtitle {
  width: 60%;
  margin-inline: auto;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: var(--color-gray);
}

/* table */

.table {
  width: 1100px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}


.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
}


.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__heading_theme_dark {
  color: var(--color-gray);
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text_theme_dark {
  color: var(--color-gray);
}

/* feynman */

.feynman {
  position: relative;
  background-color: var(--color-gray);
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 890px;
}

.feynman__title {
  margin: 0 auto 70px;
  padding-top: 100px;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
}

.feynman__subtitle,
.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
}

/* kaufman */


.kaufman {
  position: relative;
  background-color: var(--color-back);
  overflow: hidden;
  z-index: -2;
}

.kaufman__title {
  padding-top: 90px;
}

.kaufman__subtitle {
  margin-bottom: 80px;
}

.kaufman__table {
  row-gap: 80px;
  margin-bottom: 90px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  aspect-ratio: 1;
  top: 0;
  right: -210px;
  z-index: -1;
}

/* footer */


.footer {
  background-color: var(--color-back);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: var(--color-gray);
  min-height: 350px;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  align-items: start;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  color: var(--color-gray);
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-links {
  text-align: start;
  margin-bottom: 16px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: var(--color-gray);
}

.footer__column-heading {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
