h1,
h2,
h3,
h4,
p,
ul,
li,
blockquote,
cite,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--color-blue);
}

a:hover {
  opacity: 0.7;
  transition: 0.1s;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.section-title {
  width: 60%;
  margin-inline: auto;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
}

.section-title_theme_dark {
  color: var(--color-gray);
}

.section-subtitle {
  width: 60%;
  margin-inline: auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: var(--color-gray);
}
